{% extends "base.html" %}
{% block content %}
<div class=container>

	<div class=jumbotron>
		<h1>Hello World!</h1>
		<p>
			This Flask application was deployed into AWS Lambda using Zappa. 
			It is made beautiful by the Boostrap CSS libray
		</p>
	</div>

	<div class=row>
		<div class=col-md-3>
			<div class=thumbnail>
				<a href=http://flask.pocoo.org/>
					<img src={{ config.STATIC_URL }}flask.png width=250 
						style="margin-top:20px;">
				</a>
				<p style="margin-top:2em;">
					Flask is a microframework for Python based on Werkzeug, Jinja 2
					and good intentions.
				</p>
			</div>
		</div>

		<div class=col-md-3>
			<div class=thumbnail>
				<a href=https://www.zappa.io/>
					<img src={{ config.STATIC_URL }}zappa.jpg width=260>
				</a>
				<p style="margin-top:1em;">
					Zappa makes it super easy to build and deploy all Python WSGI 
					applications on AWS Lambda + API Gateway. Think of it as 
					"serverless" web hosting for your Python apps. That means 
					infinite scaling, zero downtime, zero maintenance - and at a 
					fraction of the cost of your current deployments!
				</p>
			</div>
		</div>

		<div class=col-md-3>
			<div class=thumbnail>
				<a href=https://aws.amazon.com/lambda/>
					<img src={{ config.STATIC_URL }}lambda.png width=180>
				</a>
				<p style="margin-top:1em;">
					AWS Lambda lets you run code without provisioning or managing 
					servers. You pay only for the compute time you consume — there 
					is no charge when your code is not running.
				</p>
			</div>
		</div>

		<div class=col-md-3>
			<div class=thumbnail>
				<a href=http://getbootstrap.com>
					<img src={{ config.STATIC_URL }}bootstrap.png width=160>
				</a>
				<p style="margin-top:1em;">
					Bootstrap is an open source toolkit for developing with HTML, 
					CSS, and JS. Quickly prototype your ideas or build your entire 
					app with our Sass variables and mixins, responsive grid system,
					extensive prebuilt components, and powerful plugins built on 
					jQuery.
				</p>
			</div>
		</div>

	</div>
</div>
{% endblock %}
